{% extends 'base.html' %}

{% comment %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script> 
<script>
    var editor = CodeMirror.fromTextArea(document.querySelector(".code-editor"), {
        mode: "python",
        theme: "default",
        lineNumbers: true,
    });
</script>

{% endcomment %}
    
    

{% block content %}
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/theme/dracula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/mode/javascript/javascript.min.js"></script>
<title>Code Editor</title>
<style>
    .CodeMirror {
        height: 100%;
        border: 1px solid #ccc;
    }
</style>


<div class="container my-4">
{% if problem %}
    <h4 class="text-center">{{problem.code}} : {{problem.name}} [ {{problem.difficulty}} ]</h4>
    
    <div>
        <h3>Problem statement</h3>
        <p>
            {{problem.statement| safe}}
        </p>
    </div>
    <div>
        <p><b>Input format</b></p>
        <p>{{problem.input_formate | safe}}</p>
    </div>
    <div>
        <p><b>Output format</b></p>
        <p>{{problem.output_formate | safe}}</p>
    </div>
    <div>
        <p><b>Constraints</b></p>
        <p>{{problem.problem_constraint | safe}}</p>
    </div>
    <h3>Example: </h3>
    <div>
        <p><b>Input:</b></p>
        <p>
            {{testcase.input | safe}}
        </p>
    </div>
    <div>
        <p><b>Output:</b></p>
        <p>{{testcase.output | safe}}</p>
    </div>
    <div>
        <p><b>Solution:</b></p>
        <form method="POST">
            {% csrf_token %}
            <div class="d-flex">
                <select class="m-2" name="language">
                    <option value="cpp">C++</option>
                    <option value="c">C</option>
                    <option value="py">Python</option>
                    <option value="java">Java</option>
                </select>
            </div>
            <!-- {{ solutionform.as_p }} -->
            <input type="hidden" id="code-content" name="solution_code" />
            <div id="code-editor" style="height : 400px;" name="solution_code"></div>

            <button type="submit" class="btn btn-primary m-2">Submit</button>
            <button type="reset" class="btn btn-secondary m-2">Clear</button>
        </form>
    </div>
    
    {% else %}
    <h3 class="text-center my-4">No problem found</h3>
    {% endif %}
</div>
    
    
<script>
    const codeEditor = CodeMirror(document.getElementById('code-editor'), {
        mode: 'javascript',
        theme: 'dracula', // Change the theme as needed
        lineNumbers: true,
        autofocus: true,
    });

     // Listen for form submission
     document.querySelector('form').addEventListener('submit', function(event) {
        // Get the code editor content
        const codeContent = codeEditor.getValue();
        
        // Update the hidden input field with the code content
        document.getElementById('code-content').value = codeContent;
    });
</script>
{% endblock content %}    
    