{% extends 'base.html' %}


{% block css %}
    <style>
        #slno{
            width: 5%;
        }
        #code,#diff{
            width: 10%;
        }
        .problem-name{
            width: 50%;
            text-align: center;
        }
        .table{
            width: 70%;
        }
        
    </style>
{% endblock css %}
    

{% block content %}
    

{% if problems %}
<div class="container d-flex flex-column flex-wrap justify-content-center align-items-center my-3">
    <h3 class="text-center">Problem Set</h3>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
        <th id="slno">SL.No.</th>
          <th id="code">Code</th>
          <th class="problem-name">Problems</th>
          <th id="diff">Difficulty</th>
        </tr>
      </thead>
      <tbody>
          
          {% for problem in problems %}
          <tr>
        <td>{{forloop.counter}}</td>
        <td>{{problem.code}}</td>
        <td class="problem-name">
            <a class="text-decoration-none" href="problem/{{problem.id}}">{{problem.name}}</a>
        </td>
        <td>
            {{problem.difficulty}}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<h3 class="text-center">No problem found</h3>
{% endif %}
</div>
    
    

{% endblock content %}
